@keyframes example {
    0%   {color: red;}
    50%  {color: orange;}
    100% {color: yellow;}
  }


.game h2{
    font-size: 6em;
    /* color: red; */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* .Credit h2{
    font-size: 2em; 

} */


  
