.App {
  text-align: center;
}
.App{
  height: 100%;
  -background-image: url('/images/image11.jpg')
}
@keyframes example {
  0%   {color: red;}
  100% {color: yellow;}
}




.game h2{
  font-size: 6em;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

